body {
  height: 100vh;
  width: 100vw;
}

.tic-tac-toe {
  width: 300px;
  height: 300px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}
button {
  display: inline-flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: #ddd;
  border: 0;
  cursor: pointer;
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(5),
button:nth-child(6) {
  border-bottom: 3px solid #000;
}
button:nth-child(1),
button:nth-child(4),
button:nth-child(7),
button:nth-child(2),
button:nth-child(5),
button:nth-child(8) {
  border-right: 3px solid #000;
}
.message {
  position: absolute;
  left: 50%;
  bottom: 20%;
}
.message .restart-button {
  max-width: 200px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  background-color: lightgreen;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .tic-tac-toe {
    width: 150px;
    height: 150px;
  }

  button {
    width: 50px;
    height: 50px;
  }
  .message {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .App {
    margin-top: 20%;
  }

  .message .restart-button {
    max-width: 100px;
  }
}